{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
<section class="container list post-index">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{ title (i18n (lower .Title)) | default .Title }}
      </a>
    </h1>
  </header>

  {{ with .Content }}
    <div class="post-index-intro">{{ . }}</div>
  {{ end }}

  <div class="post-list">
    {{ range .Paginator.Pages }}
      {{ .Render "li" }}
    {{ end }}
  </div>

  {{ partial "pagination.html" . }}
</section>
{{ end }}
